<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CONSULTAS</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>

<form class="form-consultas" action="/consultas" method="post" role="form">
    <h2>Consulte por su ruta</h2>
    <input type="text" name="origen" class="form-control" placeholder="Punto de Origen" required autofocus>
    <input type="text" name="destino" class="form-control" placeholder="Punto de Destino" required autofocus>
    <input type="text" name="tipoTransporte" class="form-control" placeholder="Tipo de Transporte" required autofocus>
    <button type="button">Consultar</button>
</form>

<script type=text/javascript>
    $(function () {
        $('button').click(function () {
            var origen = $('#txtOrigen').val();
            var destino = $('#txtDestino').val();
            var tipoTransporte = $('#txtTipoTransporte').val();
            $.ajax({
                url: 'http://127.0.0.1:8000/viajando/consultas',
                data: $('form').serialize(),
                type: 'POST',
                success: function (response) {
                    console.log(response);
                    alert(response)
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>

</body>

</html>